<div class="modal fade" id="confModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <p class="modal-title text-center h5 ml-auto text-success">
          <span><i class="fas fa-thumbs-up"></i></span>
          Confirmação
        </p>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-10 mx-auto">
              <span>
                <h1 class="text-center h4 text-escuro">Agradecimentos</h1>
                <p class="text-center h6">
                  A <strong class="text-escuro">Me Contrata</strong> agradece ao
                  seu feedback!
                </p>
              </span>
              <hr />
              <div class="col-md-8 mx-auto">
                <button
                  class="btn btn-secondary btn-block"
                  [routerLink]="['']"
                  data-dismiss="modal"
                >
                  Voltar ao Início
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
