<div class="container-fluid">
  <div class="row py-3">
    <div class="col-md-10 mx-auto bg-claro my-3 shadow">
      <div class="row pt-5 pb-3">
        <div class="col-md-6 mx-auto text-center bg-alerta py-2 tag-title">
          <i class="fas fa-paper-plane fa-3x text-escuro"></i>
          <h1 class="h2 text-escuro">Contato</h1>
        </div>
      </div>
      <div class="row py-3 my-3">
        <div class="col-md-8 mx-auto formulario">
          <div class="form-group text-escuro mb-2">
            <label class="input-label" for="username">
              <span class="mr-2"><i class="fas fa-user fa-lg"></i></span>
              Nome Completo
            </label>
            <input
              class="form-control"
              type="text"
              id="username"
              #username
              placeholder="José Silva"
              minlength="2"
              maxlength="80"
              required
            />
          </div>
          <div class="form-group text-escuro my-3">
            <label class="input-label" for="useremail">
              <span class="mr-2"
                ><i class="fas fa-envelope-open-text fa-lg"></i
              ></span>
              E-mail
            </label>
            <input
              class="form-control"
              type="email"
              id="useremail"
              #useremail
              placeholder="josesilva@exemplo.com"
              minlength="5"
              maxlength="45"
              required
            />
          </div>
          <div class="form-group text-escuro my-3">
            <label class="input-label" for="usersubject">
              <span class="mr-2"><i class="fas fa-marker fa-lg"></i></span>
              Assunto
            </label>
            <select
              class="form-control"
              type="text"
              id="usersubject"
              #usersubject
              required
            >
              <option value="" disabled selected>Escolha uma opção</option>
              <option value="1">Dúvida</option>
              <option value="1">Reclamação</option>
              <option value="1">Sugestão</option>
            </select>
          </div>
          <div class="form-group text-escuro my-3">
            <label class="input-label" for="usertext">
              <span class="mr-2"><i class="fas fa-quote-left fa-lg"></i></span>
              Mensagem
            </label>
            <textarea
              class="form-control"
              id="usertext"
              #usertext
              minlength="2"
              maxlength="300"
              rows="5"
              required
            ></textarea>
          </div>
          <div class="col-md-6 mx-auto my-3">
            <button
              class="btn btn-success btn-block"
              data-toggle="modal"
              data-target="#confModal"
            >
              Enviar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
