<div class="modal fade" id="confModalVaga" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title text-center h5">Confirmação</p>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-10 mx-auto">
              <span>
                <p class="text-center">Obrigado pelo seu feedback!</p>
              </span>
              <hr />
              <div class="col-md-8 mx-auto">
                <button
                  class="btn btn-secondary btn-block"
                  [routerLink]="['usuario']"
                  data-dismiss="modal"
                >
                  Sair
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
