<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <!-- dashboard -->
      <div class="row my-4">
        <div class="col-md-10 mx-auto">
          <div class="btn-group btn-group-lg" role="group">
            <button type="button" class="btn btn-dark">Vagas</button>
            <button type="button" class="btn btn-info">Cursos</button>
          </div>
          <hr />

          <div class="col-md-8 mx-auto">
            <div class="card">
              <div class="card-header bg-escuro">
                <h2 class="card-title h5 text-center text-alerta">
                  <span><i class="fas fa-briefcase"></i></span>
                  Processo Seletivo #0022
                </h2>
              </div>
              <div class="card-body bg-light">
                <p class="h6">
                  <span class="badge badge-primary bg-escuro">Vaga</span>
                  Desenvolvedor Back-end
                </p>
                <p class="h6">
                  <span class="badge badge-primary bg-escuro">Empresa</span> WPK
                </p>
                <p class="h6">
                  <span class="badge badge-primary bg-escuro">Descrição</span>
                  Lorem ipsum...
                </p>
              </div>
              <div class="card-footer">
                <div class="progress">
                  <div
                    class="progress-bar w-75 bg-alerta"
                    role="progressbar"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <strong class="text-alerta">75% Concluído</strong>
              </div>
            </div>
          </div>
          <div class="col-md-8 mx-auto my-3">
            <div class="card">
              <div class="card-header bg-medio">
                <h2 class="card-title h5 text-center text-light">
                  <span><i class="fas fa-laptop"></i></span>
                  Curso #013
                </h2>
              </div>
              <div class="card-body">
                <p class="h6">
                  <span class="badge badge-primary bg-escuro">Curso</span>
                  Desenvolvedor Back-end
                </p>
                <p class="h6">
                  <span class="badge badge-primary bg-escuro"
                    >Oferecido por</span
                  >
                  WPK
                </p>
                <p class="h6">
                  <span class="badge badge-primary bg-escuro">Descrição</span>
                  Lorem ipsum...
                </p>
              </div>
              <div class="card-footer">
                <div class="progress">
                  <div
                    class="progress-bar w-100 bg-success"
                    role="progressbar"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <small class="text-success">100% Concluído</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- perfil -->
    </div>
  </div>
</div>
