<div class="container-fluid">
  <div class="row bg-escuro mb-5">
    <div class="col-md-8 mx-auto mt-4">
      <h1 class="h4 text-center text-light">Saudações, usuário</h1>
      <p class="h5 text-center text-light">Encontre aqui</p>
      <div class="row mt-4 py-3">
        <div class="col">
          <button type="button" class="btn btn-light btn-block">
            <span class="mr-1"><i class="fas fa-briefcase"></i></span> Vagas
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-light btn-block">
            <span class="mr-1"><i class="fas fa-graduation-cap"></i></span>
            Cursos
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col mx-auto">
          <div class="col-md-8 mx-auto">
            <div class="card">
              <div class="card-header bg-escuro">
                <h2 class="card-title h5 text-center text-alerta">
                  <span><i class="fas fa-briefcase"></i></span>
                  Processo Seletivo #0022
                </h2>
              </div>
              <div class="card-body bg-light">
                <p class="text-escuro">
                  <span class="text-alerta h6">Vaga</span>
                  Desenvolvedor Back-end
                </p>
                <p class="text-escuro">
                  <span class="text-alerta h6">Empresa</span> WPK
                </p>
                <p class="text-escuro">
                  <span class="text-alerta h6">Descrição</span>
                  Lorem ipsum...
                </p>
              </div>
              <div class="card-footer">
                <div class="progress">
                  <div
                    class="progress-bar w-75 bg-alerta"
                    role="progressbar"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <strong class="text-alerta h6">75% Concluído</strong>
              </div>
            </div>
          </div>
          <div class="col-md-8 mx-auto my-3">
            <div class="card">
              <div class="card-header bg-medio">
                <h2 class="card-title h5 text-center text-light">
                  <span><i class="fas fa-laptop"></i></span>
                  Curso #013
                </h2>
              </div>
              <div class="card-body">
                <p class="text-escuro">
                  <span class="text-medio h6">Curso</span>
                  Desenvolvedor Back-end
                </p>
                <p class="text-escuro">
                  <span class="text-medio h6">Oferecido por</span>
                  WPK
                </p>
                <p class="text-escuro">
                  <span class="text-medio h6">Descrição</span>
                  Lorem ipsum...
                </p>
              </div>
              <div class="card-footer">
                <div class="progress">
                  <div
                    class="progress-bar w-100 bg-success"
                    role="progressbar"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <small class="text-success h6">100% Concluído</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col">
        <div class="card py-5 bg-darker">
          <div class="card-body">
            <p class="card-title text-center">
              <i class="fas fa-pen fa-7x text-alerta"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <h1 class="text-center h4 mt-3">Usuário #521</h1>
        <h2 class="h5 text-center">Profissão</h2>
      </div>

      <div class="col-md-8 mx-auto">
        <button class="btn btn-info btn-block my-3">
          <span><i class="fas fa-user-edit"></i></span> Perfil
        </button>
        <button class="btn btn-outline-info btn-block my-3">
          <span><i class="fas fa-wallet"></i></span> Assinatura
        </button>
      </div>
    </div>
  </div>
</div>
