<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <!-- dashboard -->
      <div class="row my-4">
        <div class="col-md-10 mx-auto">
          <div class="btn-group btn-group-lg" role="group">
            <button type="button" class="btn btn-dark">Vagas</button>
            <button type="button" class="btn btn-info">Cursos</button>
          </div>
          <hr />

          <div class="col-md-7 mx-auto">
            <div class="card">
              <div class="card-header">
                <h2 class="card-title h5">Processo Seletivo #22</h2>
              </div>
              <div class="card-body">
                <ul>
                  <li>Vaga: Desenvolvedor Back-end</li>
                  <li>Empresa: WPK</li>
                  <li>Mais infos: Lorem ipsum...</li>
                </ul>
              </div>
              <div class="card-footer">
                <div class="progress">
                  <div
                    class="progress-bar w-75 bg-alerta"
                    role="progressbar"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- perfil -->
    </div>
  </div>
</div>
