<div class="modal fade" id="exampleModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title h5 ml-auto text-escuro">
          <span><i class="fas fa-sign-in-alt"></i></span>
          Entrar em sua conta
        </p>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-10 mx-auto text-alerta">
              <div class="form-group">
                <label class="h5" for="useremail">
                  <span class="mr-2"><i class="fas fa-envelope"></i></span>
                  E-mail
                </label>
                <input
                  class="form-control"
                  type="email"
                  id="useremail"
                  #useremail
                  required
                  minlength="5"
                  maxlength="45"
                />
              </div>
              <div class="form-group">
                <label class="h5" for="userpass">
                  <span class="mr-2"><i class="fas fa-unlock-alt"></i></span>
                  Senha
                </label>
                <input
                  class="form-control"
                  type="password"
                  id="userpass"
                  #userpass
                  required
                  minlength="8"
                  maxlength="16"
                />
              </div>
              <span>
                <p class="text-center text-escuro">
                  Não possui acesso?
                  <a
                    class="text-escuro"
                    [routerLink]="['cadastro']"
                    data-dismiss="modal"
                    >Inscreva-se!</a
                  >
                </p>
              </span>
              <hr />
              <div class="col-md-8 mx-auto">
                <button
                  class="btn btn-info btn-block"
                  [routerLink]="['usuario']"
                  data-dismiss="modal"
                >
                  Entrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
