<div class="container-fluid">
  <div class="row py-3">
    <div class="col-md-10 mx-auto">
      <div class="row">
        <div class="col-md-4">
          <button
            type="button"
            class="btn btn-outline-dark btn-block"
            [routerLink]="['/vagas']"
          >
            <span class="mr-1"><i class="fas fa-briefcase"></i></span> Vagas
          </button>
        </div>
      </div>
      <div class="row my-3">
        <div class="col mx-auto">
          <div class="form-group">
            <label for="pesquisa">
              <span class="mr-2"><i class="fas fa-search fa-lg"></i></span
              >Pesquise sua vaga desejada
            </label>
            <input class="form-control" type="text" id="pesquisa" />
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col mx-auto">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Left</button>
            <button type="button" class="btn btn-secondary">Middle</button>
            <button type="button" class="btn btn-secondary">Right</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
