<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 mx-auto py-3">
      <div class="row my-2">
        <div class="col-md-4">
          <button
            type="button"
            class="btn btn-dark btn-block"
            [routerLink]="['/vagas']"
          >
            <span class="mr-1"><i class="fas fa-briefcase"></i></span> Vagas
          </button>
        </div>
      </div>

      <div class="row my-3">
        <div class="col py-4 px-4 bg-claro shadow">
          <div class="row">
            <div class="col-md-4 text-center">
              <span><i class="fas fa-suitcase fa-7x text-alerta"></i></span>
            </div>
            <div class="col">
              <small class="h5 text-alerta">Processo Seletivo #0022</small>
              <h1 class="h2">Desenvolvedor Front-end Júnior</h1>
              <ul class="my-3">
                <li class="my-2">
                  <span class="text-escuro h5"
                    ><i class="fas fa-building"></i> Empresa</span
                  >
                  WPK
                  <span class="badge bg-alerta text-light click-modal"
                    >Conheça aqui!</span
                  >
                </li>
                <li class="my-2">
                  <span class="text-escuro h5"
                    ><i class="fas fa-dollar-sign"></i> Salário</span
                  >
                  R$ 3.560,00
                </li>
                <li class="my-2">
                  <span class="text-escuro h5"
                    ><i class="fas fa-clock"></i> Horário</span
                  >
                  Matutino
                </li>
              </ul>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-md-10 mx-auto">
              <div>
                <span class="text-escuro h5"
                  ><i class="fas fa-quote-left"></i> Descrição</span
                >
                <p class="mt-1">
                  No seu dia a dia irá trabalhar com desenvolvimento de
                  funcionalidades e telas de sistema web. Com o apoio de outros
                  membros do squad. Irá ajudar na tomada de decisões de novas
                  features e resoluções de bugs e dívidas técnicas. Fazemos
                  parte de um grupo criador de produtos, de acordo com o
                  desenvolvimento em alguns momentos você irá transitar pelo
                  mesmo stack de desenvolvimento de diversos.
                </p>
              </div>
              <hr />
              <div class="col-md-8 mx-auto">
                <button class="btn btn-info btn-block">
                  Quero me candidatar!
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
