<div class="container-fluid">
  <div class="row my-4">
    <div class="col-md-10 mx-auto py-3">
      <div class="row my-3">
        <div class="col-md-4">
          <button
            type="button"
            class="btn btn-dark btn-block"
            [routerLink]="['/vaga']"
          >
            <span class="mr-1"><i class="fas fa-chevron-left"></i></span> Voltar
            para a vaga
          </button>
        </div>
      </div>

      <div class="row my-4">
        <div class="col py-5 px-5 bg-claro shadow">
          <div class="row">
            <div class="col-md-4 text-center">
              <span><i class="far fa-building fa-7x text-medio"></i></span>
            </div>
            <div class="col">
              <small class="h5 text-medio">Empresa</small>
              <h1 class="h2 text-escuro">WPK</h1>

              <p class="my-2">
                <span class="text-escuro h5"
                  ><i class="fas fa-map-marker-alt"></i> Endereço</span
                >
                Av. Senador Feijó, 350 - Vila Matias, Santos - SP, 11015-502
              </p>
              <p class="my-2">
                <span class="text-escuro h5"
                  ><i class="fas fa-envelope"></i> E-mail</span
                >
                contato@wpk.com.br
              </p>
              <p class="my-2">
                <span class="text-escuro h5"
                  ><i class="fab fa-linkedin"></i> LinkedIn</span
                >
                Empresa WPK
              </p>
              <p class="my-2">
                <span class="text-escuro h5"
                  ><i class="fas fa-globe"></i> Website</span
                >
                <a
                  class="badge badge-dark bg-medio ml-2"
                  href="https://linktr.ee/equipewpk"
                  >Visite aqui</a
                >
              </p>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-md-10 mx-auto">
              <div>
                <span class="text-escuro h5"
                  ><i class="fas fa-feather-alt"></i> História</span
                >
                <p class="mt-1">
                  A empresa WPK é focada no desenvolvimento de sistemas web e
                  mobile.<br />Há 20 anos está no mercado. Teve seu início na
                  Faculdade de Tecnologia da Baixada Santista, e desde então
                  traz inovações para seus clientes.
                </p>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
