.bg-escuro {
  background-color: #23001e;
}
.bg-medio {
  background-color: #9c7a97;
}
.bg-alerta {
  background-color: #ff9f1c;
}
.bg-claro {
  background-color: #f7f9f9;
}
.bg-darker {
  background-color: #140011;
}

.text-escuro {
  color: #23001e;
}
.text-medio {
  color: #9c7a97;
}
.text-alerta {
  color: #ff9f1c;
}
.text-claro {
  color: #f7f9f9;
}

ul {
  list-style-type: none;
}

.click-modal {
  cursor: pointer;
}
