p {
  font-weight: 600;
}
#banner {
  background-image: url('https://images.unsplash.com/photo-1521791136064-7986c2920216?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=869&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-banner {
  padding: 150px 0;
  margin: 25px auto;
  background-color: rgba(247, 249, 249, 0.7);
  -webkit-box-shadow: 5px 6px 15px -4px #000000;
  box-shadow: 5px 6px 15px -4px #000000;
}
