<div class="container-fluid">
  <div class="row py-5" id="banner">
    <div class="col py-5 my-5">
      <h1 class="h2 text-center">Me Contrata</h1>
      <p class="text-center">
        Facilitando a sua busca por vagas, com ou sem experiência
      </p>
    </div>
  </div>
  <!--  -->
  <div class="row">
    <div class="col text-center py-5 bg-escuro text-light">
      <i class="fas fa-suitcase fa-7x"></i>
      <p>Feita para quem deseja entrar no mercado de trabalho</p>
      <div class="col-md-5 mx-auto">
        <button class="btn btn-primary btn-block">Ver Mais</button>
      </div>
    </div>
    <div class="col py-5 bg-claro">
      <ul class="my-auto mx-auto">
        <li>
          <p class="text-escuro">
            <i class="fas fa-clock fa-2x mx-3 text-medio"></i>
            Busque e encontre sua vaga ideal
          </p>
        </li>
        <li>
          <p class="text-escuro">
            <i class="fas fa-network-wired fa-2x mx-3 text-medio"></i>
            Cadastre seu currículo e participe dos processos seletivos
          </p>
        </li>
        <li>
          <p class="text-escuro">
            <i class="fas fa-donate fa-2x mx-3 text-medio"></i>
            Aproveite os recursos da 'Me Contrata' e pague quando for
            contratado!
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col py-5 bg-light">
      <ul class="my-auto mx-auto">
        <li>
          <p class="text-escuro">
            <i class="fas fa-graduation-cap fa-2x mx-3 text-medio"></i>
            Tenha acesso ao nosso acervo de cursos
          </p>
        </li>
        <li>
          <p class="text-escuro">
            <i class="fas fa-medal fa-2x mx-3 text-medio"></i>
            Participe de processos seletivos exclusivos
          </p>
        </li>
        <li>
          <p class="text-escuro">
            <i class="fas fa-chart-line fa-2x mx-3 text-medio"></i>
            Receba certificados e dê um upgrade no seu currículo
          </p>
        </li>
      </ul>
    </div>
    <div class="col text-center py-5 bg-escuro text-light">
      <i class="fas fa-laptop-house fa-7x"></i>
      <p>Feito para quem busca cursos profissionalizantes à distância</p>
      <div class="col-md-5 mx-auto">
        <button class="btn btn-light bg-alerta text-dark btn-block">
          Ver Mais
        </button>
      </div>
    </div>
  </div>
  <div class="row py-5 bg-dark">
    <div class="col text-center my-5">
      <h2>Fale com a Me Contrata!</h2>
      <strong>Mande sua dúvida ou sugestão</strong>

      <div class="col-md-3 mx-auto">
        <button class="btn btn-outline-primary btn-block my-3">
          Envie sua mensagem
        </button>
      </div>
    </div>
  </div>
</div>
