<div class="container-fluid">
  <div class="row" id="banner">
    <div class="col">
      <h1 class="h2 text-center">Me Contrata</h1>
      <p class="text-center">
        Facilitando a sua busca por vagas, com ou sem experiência
      </p>
    </div>
  </div>
  <!--  -->
  <div class="row">
    <div class="col">
      <img src="" alt="" />
      <p>Feita para quem deseja entrar no mercado de trabalho</p>
      <button >Ver Mais</button>
    </div>
    <div class="col">
      <!-- Bloco 2 -->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- Bloco 3 -->
    </div>
    <div class="col">
      <!-- Bloco 4 -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <!--  -->
    </div>
    <div class="col"></div>
  </div>
</div>
